<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b48381">  <td>17/12/14 13:09:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HN_Script_Updated.HN_Script_Execution()[pri:0, instance:com.web.automation.scripts.HN_Script_Updated@ca263c2]">HN_Script_Execution</td> 
  <td>main@558922244</td>   <td></td> </tr>
<tr bgcolor="dc67c2">  <td>17/12/14 13:09:48</td>   <td>7414</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestEngineWeb.afterClass()[pri:0, instance:com.web.automation.scripts.HN_Script_Updated@ca263c2]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@558922244</td>   <td></td> </tr>
<tr bgcolor="dc67c2">  <td>17/12/14 13:09:46</td>   <td>5588</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestEngineWeb.afterMethod(java.lang.reflect.Method, org.testng.ITestResult)[pri:0, instance:com.web.automation.scripts.HN_Script_Updated@ca263c2]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@558922244</td>   <td></td> </tr>
<tr bgcolor="dc67c2">  <td>17/12/14 13:10:14</td>   <td>33357</td> <td title="&lt;&lt;TestEngineWeb.afterSuite()[pri:0, instance:com.web.automation.scripts.HN_Script_Updated@ca263c2]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@558922244</td>   <td></td> </tr>
<tr bgcolor="dc67c2">  <td>17/12/14 13:10:13</td>   <td>33255</td> <td>&nbsp;</td><td title="&lt;&lt;TestEngineWeb.afterTest()[pri:0, instance:com.web.automation.scripts.HN_Script_Updated@ca263c2]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@558922244</td>   <td></td> </tr>
<tr bgcolor="dc67c2">  <td>17/12/14 13:09:19</td>   <td>-21709</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestEngineWeb.beforeClass()[pri:0, instance:com.web.automation.scripts.HN_Script_Updated@ca263c2]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@558922244</td>   <td></td> </tr>
<tr bgcolor="dc67c2">  <td>17/12/14 13:09:39</td>   <td>-1402</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestEngineWeb.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.web.automation.scripts.HN_Script_Updated@ca263c2]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@558922244</td>   <td></td> </tr>
<tr bgcolor="b48381">  <td>17/12/14 13:09:40</td>   <td>-505</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HN_Script_Updated.beforeMethod()[pri:0, instance:com.web.automation.scripts.HN_Script_Updated@ca263c2]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@558922244</td>   <td></td> </tr>
<tr bgcolor="dc67c2">  <td>17/12/14 13:09:16</td>   <td>-23989</td> <td title="&gt;&gt;TestEngineWeb.beforeSuite(org.testng.ITestContext)[pri:0, instance:com.web.automation.scripts.HN_Script_Updated@ca263c2]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@558922244</td>   <td></td> </tr>
<tr bgcolor="dc67c2">  <td>17/12/14 13:09:17</td>   <td>-23385</td> <td>&nbsp;</td><td title="&gt;&gt;TestEngineWeb.beforeTest(org.testng.ITestContext)[pri:0, instance:com.web.automation.scripts.HN_Script_Updated@ca263c2]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@558922244</td>   <td></td> </tr>
</table>
