<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Selenium-Automation</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8f8cc1">  <td>17/12/18 13:01:17</td>   <td>0</td> <td title="&gt;&gt;TestEngineWeb.beforeSuite(org.testng.ITestContext)[pri:0, instance:com.web.automation.scripts.HN_Script_Updated@11a9e7c8]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="8f8cc1">  <td>17/12/18 13:01:17</td>   <td>101</td> <td>&nbsp;</td><td title="&gt;&gt;TestEngineWeb.beforeTest(org.testng.ITestContext)[pri:0, instance:com.web.automation.scripts.HN_Script_Updated@11a9e7c8]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="8f8cc1">  <td>17/12/18 13:01:19</td>   <td>1866</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestEngineWeb.beforeClass()[pri:0, instance:com.web.automation.scripts.HN_Script_Updated@11a9e7c8]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="8f8cc1">  <td>17/12/18 13:02:01</td>   <td>44194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestEngineWeb.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.web.automation.scripts.HN_Script_Updated@11a9e7c8]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="ca61a2">  <td>17/12/18 13:02:03</td>   <td>45465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HN_Script_Updated.beforeMethod()[pri:0, instance:com.web.automation.scripts.HN_Script_Updated@11a9e7c8]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="ca61a2">  <td>17/12/18 13:02:04</td>   <td>46407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HN_Script_Updated.HN_Script_Execution()[pri:0, instance:com.web.automation.scripts.HN_Script_Updated@11a9e7c8]">HN_Script_Execution</td> 
  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="8f8cc1">  <td>17/12/18 13:02:19</td>   <td>61957</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestEngineWeb.afterMethod(java.lang.reflect.Method, org.testng.ITestResult)[pri:0, instance:com.web.automation.scripts.HN_Script_Updated@11a9e7c8]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="8f8cc1">  <td>17/12/18 13:02:21</td>   <td>64127</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestEngineWeb.afterClass()[pri:0, instance:com.web.automation.scripts.HN_Script_Updated@11a9e7c8]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="8f8cc1">  <td>17/12/18 13:02:52</td>   <td>95151</td> <td>&nbsp;</td><td title="&lt;&lt;TestEngineWeb.afterTest()[pri:0, instance:com.web.automation.scripts.HN_Script_Updated@11a9e7c8]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@728739494</td>   <td></td> </tr>
<tr bgcolor="8f8cc1">  <td>17/12/18 13:02:53</td>   <td>95332</td> <td title="&lt;&lt;TestEngineWeb.afterSuite()[pri:0, instance:com.web.automation.scripts.HN_Script_Updated@11a9e7c8]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@728739494</td>   <td></td> </tr>
</table>
